.siteheader {
	margin: 1rem 0 0 1rem;
	padding: 1rem;

	@media #{$breakpoint-sm} {
		padding: 2rem;
		width: 70vw;
		max-width: none;
	}
}

.logo {
	margin: 0 0 2rem;
	padding: 0;
	display: inline-block;
	width: 100px;

	img {
		display: block;
		margin: 0;
		padding: 0;
	}

	@media #{$breakpoint-sm} {
		background: rgba(#000, 0.4);
		box-shadow: rgba(#000, 0.4) 0 0 70px 70px;
		width: 10vw;
		max-width: 150px;
	}
}