html {
	box-sizing: border-box;
}

*, 
*:before, 
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background: #fff url(../img/bg-2-sm.jpg) no-repeat center center;
	background-size: cover;

	@media #{$breakpoint-sm-max} and (orientation: portrait) {
		background-image: url(../img/bg-2-sm-v.jpg);
	}

	@media #{$breakpoint-sm} {
		background-image: url(../img/bg-2.jpg);
		background-position-x: -12.5vw;
	}
}

.main {
	background: rgba(#000, 0.4);
	border: 10px solid #fff;
	overflow: hidden;

	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	@media #{$breakpoint-sm} {
		background: transparent;		
		border-width: 2vmin;
	}
}

.menu {
	background: #fff;
	padding: 2rem;
	position: relative;
	z-index: 2;

	@media #{$breakpoint-md} {
		width: 30w;
		min-width: 300px;
		max-width: 450px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

