body {
	color: #333;
}

body, h1,h2,h3,h4,h5,h6,p,ul,ol {
	font-family: $sans-serif;
}

h1 {
	@media #{$breakpoint-md} {
		font-size: 2.8rem;
	}

	@media #{$breakpoint-md} {
		font-size: 3.5rem;
	}

	@media #{$breakpoint-xl} {
		font-size: 5rem;
	}
}

h2 {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 1.5rem;

	@media #{$breakpoint-xl} {
		font-size: 1.4rem;
	}
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.8rem;
}

a {
	color: #fff;
	text-decoration: underline;
}

p {
	font-size: 0.9rem;
	margin-bottom: 1.5rem;

	@media #{$breakpoint-xl} {
		font-size: 1rem;
	}
}

/*
	Styles
*/

.hairline {
	font-weight: 100;
}

.thin {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.small {
	font-size: 0.8rem;
}

.xsmall {
	font-size: 0.7rem;
}

.serif {
	font-family: 'BioRhyme Expanded', serif;
}

.uppercase {
	text-transform: uppercase;
}

.spaced {
	letter-spacing: 6px;
}