.menu-list {
  font-family: 'BioRhyme Expanded', serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    margin-bottom: 1.6rem;
  }
}